[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HighestMedianRules"]
	path = HighestMedianRules
	url = https://github.com/cran/HighestMedianRules
